In [7]:
!pip install db-sqlite3

^C

In [8]:
import sqlite3

Requirement already satisfied: db-sqlite3 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (0.0.1)
Requirement already satisfied: db in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from db-sqlite3) (0.1.1)
Requirement already satisfied: antiorm in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from db->db-sqlite3) (1.2.1)

# Conectar ou criar o banco de dados SQLite

conn = sqlite3.connect('meu_banco.db')
cursor = conn.cursor()

# Criar a tabela 'cadastro'

cursor.execute('''
CREATE TABLE IF NOT EXISTS cadastro (
id INTEGER PRIMARY KEY AUTOINCREMENT UNIQUE,
nome_material TEXT,
lote TEXT,
quantidade INTEGER,
unidade TEXT,
solicitante TEXT,
validade DATE,
tipo_material TEXT,
FOREIGN KEY (solicitante) REFERENCES usuario (nome)
)
''')

# Criar a tabela 'usuario'

cursor.execute('''
CREATE TABLE IF NOT EXISTS usuario (
id INTEGER PRIMARY KEY AUTOINCREMENT UNIQUE,
nome TEXT UNIQUE,
setor TEXT,
email TEXT
)
''')

# Confirmar mudanças e fechar a conexão

conn.commit()
conn.close()

print("Tabelas criadas com sucesso.")

In [9]:
conn = sqlite3.connect('estoque.db')
cursor = conn.cursor()

In [10]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS cadastro (
id INTEGER PRIMARY KEY AUTOINCREMENT UNIQUE,
nome_material TEXT,
lote TEXT,
quantidade INTEGER,
unidade TEXT,
solicitante TEXT,
validade DATE,
tipo_material TEXT,
FOREIGN KEY (solicitante) REFERENCES usuario (nome)
)
''')

In [11]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS usuario (
id INTEGER PRIMARY KEY AUTOINCREMENT UNIQUE,
nome TEXT UNIQUE,
setor TEXT,
email TEXT
)
''')

In [12]:
conn.commit()
conn.close()

## CRUD COM SQLITE

In [13]:
def inserir_usuario(nome, setor, email):
    conn = sqlite3.connect('estoque.db')
    cursor = conn.cursor()
    cursor.execute("INSERT INTO usuario (nome, setor, email) VALUES (?, ?, ?)", (nome, setor, email))
    conn.commit()
    conn.close()

In [14]:
def listar_usuarios():
    conn = sqlite3.connect('estoque.db')
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM usuario")
    resultado = cursor.fetchall()     #fetchall - retorna todos, fetchone - retorna um
    conn.close()
    return resultado

In [19]:
def atualizar_usuario(nome, setor, email):
    conn = sqlite3.connect('estoque.db')
    cursor = conn.cursor()
    cursor.execute("UPDATE usuario SET setor = ?, email = ? WHERE nome = ?", (setor, email, nome))
    conn.commit()
    conn.close()

In [15]:
nome = 'Diullio'
setor = 'DA'
email = 'diullio@hotmail.com'

In [16]:
inserir_usuario(nome, setor, email)

In [18]:
listar_usuarios()

[(1, 'Diullio', 'DA', 'diullio@hotmail.com')]

In [22]:
atualizar_usuario('Diullio', 'Dev', 'diullio@hotmail.com')

In [24]:
resultado = listar_usuarios()

In [33]:
resultado[0][1]

'Diullio'

In [32]:
def excluir_dados(nome):
    conn = sqlite3.connect('estoque.db')
    cursor = conn.cursor()
    cursor.execute("DELETE FROM usuario WHERE nome = ?", (nome,))
    conn.commit()
    conn.close()

In [34]:
excluir_dados(resultado[0][1])

In [35]:
listar_usuarios()

[]

In [37]:
usuarios = [
    ('Diullio', 'Dev', 'diullio@hotmail.com'),
    ('Luiz Fernando', 'DA', 'Teste'),
    ('Luiz Gustavo', 'VSC', 'Teste')
]

In [42]:
for usuario in usuarios:
    inserir_usuario(usuario[0], usuario[1], usuario[2])

In [43]:
listar_usuarios()

[(2, 'Diullio', 'Dev', 'diullio@hotmail.com'),
 (3, 'Luiz Fernando', 'DA', 'Teste'),
 (4, 'Luiz Gustavo', 'VSC', 'Teste')]

In [45]:
import pandas as pd

In [46]:
df = pd.read_excel('teste.xlsx')

In [47]:
df

,nome_material,lote,quantidade,unidade,solicitante,validade,tipo_material
0,blister,15B25,5,un,Diullio,2026-02-01,material
1,caixa,15B26,15,cx,Luiz Gustavo,2026-02-02,material
2,acetonitrila,15B27,60,frasco,Luis Fernando,2026-02-03,reagente
3,metanol,15B28,58,frasco,Diullio,2026-02-04,reagente
4,padrao,15B29,10,frasco,Joao,2026-02-05,material

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   nome_material  5 non-null      object
 1   lote           5 non-null      object
 2   quantidade     5 non-null      int64
 3   unidade        5 non-null      object
 4   solicitante    5 non-null      object
 5   validade       5 non-null      datetime64[ns]
 6   tipo_material  5 non-null      object
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 408.0+ bytes

In [65]:
def usuario_existe(solicitante):
    conn = sqlite3.connect('estoque.db')
    cursor = conn.cursor()
    cursor.execute("SELECT nome FROM usuario WHERE nome = ?", (solicitante,))
    existe = cursor.fetchone() is not None
    conn.close()
    return existe

In [66]:
usuarios = df['solicitante'].tolist()

In [67]:
usuarios

['Diullio', 'Luiz Gustavo', 'Luis Fernando', 'Diullio', 'Joao']

In [69]:
usuarios_cadastrar = []
for usuario in usuarios:
    existe = usuario_existe(usuario)
    if existe == False:
        usuarios_cadastrar.append(usuario)

In [70]:
usuarios_cadastrar

['Luis Fernando', 'Joao']

In [75]:
for usuario in usuarios_cadastrar:
    inserir_usuario(usuario, 'teste', 'teste')
    conn.close()
    print('Cadastrado')

Cadastrado
Cadastrado

In [76]:
listar_usuarios()

[(2, 'Diullio', 'Dev', 'diullio@hotmail.com'),
 (3, 'Luiz Fernando', 'DA', 'Teste'),
 (4, 'Luiz Gustavo', 'VSC', 'Teste'),
 (5, 'Luis Fernando', 'teste', 'teste'),
 (6, 'Joao', 'teste', 'teste')]

In [77]:
df

,nome_material,lote,quantidade,unidade,solicitante,validade,tipo_material
0,blister,15B25,5,un,Diullio,2026-02-01,material
1,caixa,15B26,15,cx,Luiz Gustavo,2026-02-02,material
2,acetonitrila,15B27,60,frasco,Luis Fernando,2026-02-03,reagente
3,metanol,15B28,58,frasco,Diullio,2026-02-04,reagente
4,padrao,15B29,10,frasco,Joao,2026-02-05,material

In [79]:
def inserir_cadastro(df):
    conn = sqlite3.connect('estoque.db')
    cursor = conn.cursor()
    cursor.execute("INSERT INTO cadastro (nome_material, lote, quantidade, unidade, solicitante, validade, tipo_material) VALUES (?, ?, ?, ?, ?, ?, ?)", (df['nome_material'], df['lote'], df['quantidade'], df['unidade'], df['solicitante'], df['validade'], df['tipo_material']))
    conn.commit()
    conn.close()

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   nome_material  5 non-null      object
 1   lote           5 non-null      object
 2   quantidade     5 non-null      int64
 3   unidade        5 non-null      object
 4   solicitante    5 non-null      object
 5   validade       5 non-null      datetime64[ns]
 6   tipo_material  5 non-null      object
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 408.0+ bytes

In [83]:
df['validade'] = df['validade'].dt.strftime('%Y-%m-%d')

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   nome_material  5 non-null      object
 1   lote           5 non-null      object
 2   quantidade     5 non-null      int64
 3   unidade        5 non-null      object
 4   solicitante    5 non-null      object
 5   validade       5 non-null      object
 6   tipo_material  5 non-null      object
dtypes: int64(1), object(6)
memory usage: 408.0+ bytes

In [85]:
for index, row in df.iterrows():
    inserir_cadastro(row)

print('Dados inseridos com sucesso')

Dados inseridos com sucesso

In [86]:
def selecionar_cadastro():
    conn = sqlite3.connect('estoque.db')
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM cadastro")
    resultado = cursor.fetchall()
    conn.close()
    return resultado

In [89]:
resultado = selecionar_cadastro()

In [90]:
resultado

[(1, 'blister', '15B25', 5, 'un', 'Diullio', '2026-02-01', 'material'),
 (2, 'caixa', '15B26', 15, 'cx', 'Luiz Gustavo', '2026-02-02', 'material'),
 (3,
  'acetonitrila',
  '15B27',
  60,
  'frasco',
  'Luis Fernando',
  '2026-02-03',
  'reagente'),
 (4, 'metanol', '15B28', 58, 'frasco', 'Diullio', '2026-02-04', 'reagente'),
 (5, 'padrao', '15B29', 10, 'frasco', 'Joao', '2026-02-05', 'material')]