In [2]:
nome = "Diullio"

In [3]:
print(type(nome)) # Texto String

<class 'str'>

In [4]:
idade = 25

In [5]:
print(type(idade))

<class 'int'>

In [6]:
idade

25

In [7]:
valor = 15.5

In [8]:
print(type(valor)) ## float -- decimal

<class 'float'>

In [9]:
verdadeiro = True

In [10]:
print(type(verdadeiro)) ## boleano -- True / False

<class 'bool'>

In [11]:
nome = input('Digite seu nome: ')

In [13]:
print(nome)

Diullio

In [18]:
print(f'O seu nome é {nome} e sua idade é {idade}')

O seu nome é Diullio e sua idade é 25

In [19]:
valor

15.5

In [33]:
a = 5
b = 2

In [27]:
a + b

6

In [29]:
a - b

4

In [30]:
a * b

5

In [31]:
a / b

5.0

In [34]:
a ** b

25

In [35]:
a = 25

Potencia
Divisao/Multiplicacao
Subtracao / Soma

In [39]:
a ** (1/2)

5.0

In [22]:
print('Vamos calcular seu IMC')

Vamos calcular seu IMC

In [48]:
altura = float(input("Qual seu altura"))
peso = float(input("Qual sua peso"))

In [49]:
peso

82.0

In [53]:
imc_diullio = peso / (altura**2)

In [54]:
print(f'Seu imc é {imc_diullio:.2f}')

Seu imc é 22.71

Condicional

In [ ]:
#acentos, espacos, camelCase

# se - comparativos

In [ ]:
#if - se (1)
#else - senao (1)
#elif (x)

In [55]:
if imc_diullio > 20:    
    print('O IMC está normal')
else:
    print("O IMC esta abaixo")

O IMC está normal

In [57]:
altura = float(input("Digite uma metragem"))

In [63]:
altura = 0.8

se altura maior que 2, medida é alta..
se altura entre 2 e 1, medida media
se altura for menor 1, baixo

In [66]:
if altura >= 2:
    print('Medida alta')
elif altura < 2 and altura > 1:
    print('Medida média')
else:
    print('Medida baixa')

Medida baixa

In [68]:
numero = 15

se o numero for multiplo de 3 e 5, multiplo dos dois -- mais geral
se for multiplo de 5, multiplo de 5
se for multiplo de 3, multiplo de 3
se nao numero invalido

In [76]:
if (numero % 3  == 0) and (numero % 5 == 0):
    print("Multiplo de 3 e 5")
elif numero % 5 == 0:
    print('Multiplo de 5')
elif numero % 3 == 0:
    print('Multiplo de 3')
else:
    print('Numero é invalido')

Multiplo de 3