In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('teste.xlsx')

In [3]:
df

        Padrao   Lote   Validade  Estoque
0     Dipirona  12345 2026-01-01        5
1      Cafeina   5648 2030-04-26        6
2  Paracetamol  54668 2024-01-01       18

In [5]:
df.head(1)

     Padrao   Lote   Validade  Estoque
0  Dipirona  12345 2026-01-01        5

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Padrao    3 non-null      object
 1   Lote      3 non-null      int64
 2   Validade  3 non-null      datetime64[ns]
 3   Estoque   3 non-null      int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 224.0+ bytes

In [7]:
df.describe()

               Lote             Validade    Estoque
count      3.000000                    3   3.000000
mean   24220.333333  2026-10-09 16:00:00   9.666667
min     5648.000000  2024-01-01 00:00:00   5.000000
25%     8996.500000  2024-12-31 12:00:00   5.500000
50%    12345.000000  2026-01-01 00:00:00   6.000000
75%    33506.500000  2028-02-28 00:00:00  12.000000
max    54668.000000  2030-04-26 00:00:00  18.000000
std    26580.213625                  NaN   7.234178

In [10]:
x = df['Padrao']

In [11]:
x

0       Dipirona
1        Cafeina
2    Paracetamol
Name: Padrao, dtype: object

In [12]:
colunas = ['Padrao', 'Estoque']

In [15]:
y = df[colunas]

In [16]:
y

        Padrao  Estoque
0     Dipirona        5
1      Cafeina        6
2  Paracetamol       18

In [14]:
df

        Padrao   Lote   Validade  Estoque
0     Dipirona  12345 2026-01-01        5
1      Cafeina   5648 2030-04-26        6
2  Paracetamol  54668 2024-01-01       18

In [18]:
df.isnull().sum()

Padrao      0
Lote        0
Validade    0
Estoque     0
dtype: int64

# LOC e ILOC

In [21]:
#loc - baseado em rotulos
df.loc[1] ##selecionei a linha 1

Padrao                  Cafeina
Lote                       5648
Validade    2030-04-26 00:00:00
Estoque                       6
Name: 1, dtype: object

In [23]:
colunas = ['Padrao', 'Lote']

In [33]:
df.loc[1:2, colunas]

        Padrao   Lote
1      Cafeina   5648
2  Paracetamol  54668

In [25]:
#iloc - baseado em indices

df.iloc[1]

Padrao                  Cafeina
Lote                       5648
Validade    2030-04-26 00:00:00
Estoque                       6
Name: 1, dtype: object

In [36]:
df.iloc[0:2, 0:2]

     Padrao   Lote
0  Dipirona  12345
1   Cafeina   5648

In [38]:
df['Novo Estoque'] = df['Estoque'] + 10

In [39]:
df

        Padrao   Lote   Validade  Estoque  Novo Estoque
0     Dipirona  12345 2026-01-01        5            15
1      Cafeina   5648 2030-04-26        6            16
2  Paracetamol  54668 2024-01-01       18            28

In [40]:
df['Diferença'] = df['Novo Estoque'] - df['Estoque']

In [41]:
df

        Padrao   Lote   Validade  Estoque  Novo Estoque  Diferença
0     Dipirona  12345 2026-01-01        5            15         10
1      Cafeina   5648 2030-04-26        6            16         10
2  Paracetamol  54668 2024-01-01       18            28         10

In [42]:
df

        Padrao   Lote   Validade  Estoque  Novo Estoque  Diferença
0     Dipirona  12345 2026-01-01        5            15         10
1      Cafeina   5648 2030-04-26        6            16         10
2  Paracetamol  54668 2024-01-01       18            28         10

In [43]:
def dobro(x):
    x = x*2
    return x

In [44]:
df['Diferença'] = df['Diferença'].apply(dobro)

In [45]:
df

        Padrao   Lote   Validade  Estoque  Novo Estoque  Diferença
0     Dipirona  12345 2026-01-01        5            15         20
1      Cafeina   5648 2030-04-26        6            16         20
2  Paracetamol  54668 2024-01-01       18            28         20

In [48]:
df.fillna(0, inplace=True) #substitui NA por 0

In [49]:
df

        Padrao   Lote   Validade  Estoque  Novo Estoque  Diferença
0     Dipirona  12345 2026-01-01        5            15         20
1      Cafeina   5648 2030-04-26        6            16         20
2  Paracetamol  54668 2024-01-01       18            28         20

In [50]:
df.dropna() ##linhas

        Padrao   Lote   Validade  Estoque  Novo Estoque  Diferença
0     Dipirona  12345 2026-01-01        5            15         20
1      Cafeina   5648 2030-04-26        6            16         20
2  Paracetamol  54668 2024-01-01       18            28         20

In [51]:
df.dropna(axis=1)

        Padrao   Lote   Validade  Estoque  Novo Estoque  Diferença
0     Dipirona  12345 2026-01-01        5            15         20
1      Cafeina   5648 2030-04-26        6            16         20
2  Paracetamol  54668 2024-01-01       18            28         20

In [52]:
filtro = df['Estoque'] > 10

In [53]:
df_filtrado = df[filtro]

In [54]:
df_filtrado

        Padrao   Lote   Validade  Estoque  Novo Estoque  Diferença
2  Paracetamol  54668 2024-01-01       18            28         20

In [55]:
df

        Padrao   Lote   Validade  Estoque  Novo Estoque  Diferença
0     Dipirona  12345 2026-01-01        5            15         20
1      Cafeina   5648 2030-04-26        6            16         20
2  Paracetamol  54668 2024-01-01       18            28         20

In [59]:
df_filtrado = df[(df['Estoque']>=6) & (df['Estoque'] < 10)]

In [60]:
df_filtrado

    Padrao  Lote   Validade  Estoque  Novo Estoque  Diferença
1  Cafeina  5648 2030-04-26        6            16         20

In [62]:
def classificar(x):
    if x > 5:
        return 'Alto'
    else:
        return 'Baixo'

In [63]:
df['classificacao'] = df['Estoque'].apply(classificar)

In [68]:
df['classificacao'].describe()

count        3
unique       2
top       Alto
freq         2
Name: classificacao, dtype: object

In [69]:
df

,Padrao,Lote,Validade,Estoque,Novo Estoque,Diferença,classificacao
0,Dipirona,12345,2026-01-01,5,15,20,Baixo
1,Cafeina,5648,2030-04-26,6,16,20,Alto
2,Paracetamol,54668,2024-01-01,18,28,20,Alto

In [70]:
df.to_excel('df_final.xlsx')

In [1]:
!pip install streamlit

Requirement already satisfied: streamlit in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (1.36.0)
Requirement already satisfied: altair<6,>=4.0 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from streamlit) (5.3.0)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from streamlit) (1.8.2)
Requirement already satisfied: cachetools<6,>=4.0 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from streamlit) (5.3.3)
Requirement already satisfied: click<9,>=7.0 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from streamlit) (8.1.7)
Requirement already satisfied: numpy<3,>=1.20 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from streamlit) (1.24.4)
Requirement already satisfied: packaging<25,>=20 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from streamlit) (24.1)
Requirement already satisfied: pandas<3,>=1.3.0 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from streamlit) (2.0.3)
Requirement already satisfied: pillow<11,>=7.1.0 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from streamlit) (10.3.0)
Requirement already satisfied: protobuf<6,>=3.20 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from streamlit) (5.27.2)
Requirement already satisfied: pyarrow>=7.0 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from streamlit) (16.1.0)
Requirement already satisfied: requests<3,>=2.27 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from streamlit) (2.32.3)
Requirement already satisfied: rich<14,>=10.14.0 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from streamlit) (13.7.1)
Requirement already satisfied: tenacity<9,>=8.1.0 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from streamlit) (8.4.2)
Requirement already satisfied: toml<2,>=0.10.1 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from streamlit) (4.12.2)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from streamlit) (3.1.43)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from streamlit) (0.9.1)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from streamlit) (6.4.1)
Requirement already satisfied: watchdog<5,>=2.1.5 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from streamlit) (4.0.1)
Requirement already satisfied: jinja2 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from altair<6,>=4.0->streamlit) (3.1.4)
Requirement already satisfied: jsonschema>=3.0 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from altair<6,>=4.0->streamlit) (4.22.0)
Requirement already satisfied: toolz in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from altair<6,>=4.0->streamlit) (0.12.1)
Requirement already satisfied: colorama in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.11)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2024.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from requests<3,>=2.27->streamlit) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from requests<3,>=2.27->streamlit) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from requests<3,>=2.27->streamlit) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from requests<3,>=2.27->streamlit) (2024.6.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from rich<14,>=10.14.0->streamlit) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.18.0)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.1.5)
Requirement already satisfied: attrs>=22.2.0 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (23.2.0)
Requirement already satisfied: importlib-resources>=1.4.0 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (6.4.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2023.12.1)
Requirement already satisfied: pkgutil-resolve-name>=1.3.10 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (1.3.10)
Requirement already satisfied: referencing>=0.28.4 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.18.1)
Requirement already satisfied: mdurl~=0.1 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.2)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from python-dateutil>=2.8.2->pandas<3,>=1.3.0->streamlit) (1.16.0)
Requirement already satisfied: zipp>=3.1.0 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from importlib-resources>=1.4.0->jsonschema>=3.0->altair<6,>=4.0->streamlit) (3.19.2)

In [1]:
!pip install matplotlib

Requirement already satisfied: matplotlib in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (3.7.5)
Requirement already satisfied: contourpy>=1.0.1 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from matplotlib) (1.1.1)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from matplotlib) (4.53.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy<2,>=1.20 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from matplotlib) (1.24.4)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from matplotlib) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from matplotlib) (6.4.0)
Requirement already satisfied: zipp>=3.1.0 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from importlib-resources>=3.2.0->matplotlib) (3.19.2)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\envs\ds-3.8\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)